<!doctype html>

<html lang="en">

<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128349560-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128349560-1');
</script>


  <meta charset="utf-8">

  <title>LatInRed10</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="keywords">

  <meta content="" name="description">



  <!-- Favicons -->

  <link href="img/favicon.ico" rel="icon">

  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">



  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">



  <!-- Bootstrap CSS File -->

  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">



  <!-- Libraries CSS Files -->

  <link href="lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">

  <link href="lib/owlcarousel/owl.carousel.css" rel="stylesheet">

  <link href="lib/owlcarousel/owl.transitions.css" rel="stylesheet">

  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <link href="lib/venobox/venobox.css" rel="stylesheet">



  <!-- Nivo Slider Theme -->

  <link href="css/nivo-slider-theme.css" rel="stylesheet">



  <!-- Main Stylesheet File -->

  <link href="css/style.css" rel="stylesheet">



  <!-- Responsive Stylesheet File -->

  <link href="css/responsive.css" rel="stylesheet">

  

  <script type="text/javascript">

    (function () {

        var options = {

            whatsapp: "+5214423363993", // WhatsApp number

            call: "14423363993", // Call phone number

            call_to_action: "Llámanos", // Call to action

            button_color: "#FF6550", // Color of button

            position: "right", // Position may be 'right' or 'left'

            order: "whatsapp,call", // Order of buttons

        };

        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;

        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';

        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };

        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);

    })();

</script>



  <!-- =======================================================

    Theme Name: eBusiness

    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/

    Author: BootstrapMade.com

    License: https://bootstrapmade.com/license/

  ======================================================= -->

</head>



<body data-spy="scroll" data-target="#navbar-example" >



  <div id="preloader"></div>



  <header>

    <!-- header-area start -->

    <div id="sticker" class="header-area">

      <div class="container">

        <div class="row">

          <div class="col-md-12 col-sm-12">



            <!-- Navigation -->

            <nav class="navbar navbar-default">

              <!-- Brand and toggle get grouped for better mobile display -->

              <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">

										<span class="sr-only">Toggle navigation</span>

										<span class="icon-bar"></span>

										<span class="icon-bar"></span>

										<span class="icon-bar"></span>

									</button>

                <!-- Brand -->

              

                <a class="navbar-brand page-scroll sticky-logo" href="index.html">

                  <h1><span>L</span>at<span style="color: #01DFD7">I</span>n<span style="color: #FE2E64">R</span>ed10</h1>

                  <!-- Uncomment below if you prefer to use an image logo -->

                  <!-- <img src="img/logo.png" alt="" title=""> -->

								</a>

              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->

              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">

                <ul class="nav navbar-nav navbar-right">

                  <li class="active">

                    <a class="page-scroll" href="#home">Inicio</a>

                  </li>

                  <li>

                    <a class="page-scroll" href="#about">Quiénes Somos</a>

                  </li>

                  <li>

                    <a class="page-scroll" href="#services">Servicios</a>

                  </li>

                   <li>

                

                  <li>

                    <a class="page-scroll" href="#team">Equipo</a>

                  </li>

                  <li>

                    <a class="page-scroll" href="#portfolio">Portfolio</a>

                  </li>

                  <li>

                  <a class="page-scroll" href="https://latinred10.com/blog">Blog</a>

                  </li>

                  <li>

                    <a class="page-scroll" href="#contact">Contacto</a>

                  </li>

                </ul>

              </div>

              <!-- navbar-collapse -->

            </nav>

            <!-- END: Navigation -->

          </div>

        </div>

      </div>

    </div>

    <!-- header-area end -->

  </header>

  <!-- header end -->



  <!-- Start Slider Area -->

  <div id="home" class="slider-area">

    <div class="bend niceties preview-2">

      <div id="ensign-nivoslider" class="slides">

        <img src="img/slider/slider1.jpg" alt="" title="#slider-direction-1" />

        <img src="img/slider/slider2.jpg" alt="" title="#slider-direction-2" />

        <img src="img/slider/slider3.jpg" alt="" title="#slider-direction-3" />

      </div>



      <!-- direction 1 -->

      <div id="slider-direction-1" class="slider-direction slider-one">

        <div class="container">

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="slider-content">

                <!-- layer 1 -->

                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">

                  <h2 class="title1">Si estás aquí, estás en red.</h2>

                </div>

                <!-- layer 2 -->

                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">

                  <h1 class="title2">Bienvenido</h1>

                </div>

                <!-- layer 3 -->

                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

                  <a class="ready-btn right-btn page-scroll" href="#services">Nuestros Servicios</a>

                  <a class="ready-btn page-scroll" href="#about">+Info</a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>



      <!-- direction 2 -->

      <div id="slider-direction-2" class="slider-direction slider-two">

        <div class="container">

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="slider-content text-center">

                <!-- layer 1 -->

                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

                  <h2 class="title1">¿Quieres que todos te vean en red? </h2>

                </div>

                <!-- layer 2 -->

                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">

                  <h1 class="title2">Tenemos un sitio web perfecto para TI</h1>

                </div>

                <!-- layer 3 -->

                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

                  <a class="ready-btn right-btn page-scroll" href="#services">Nuestros Servicios</a>

                  <a class="ready-btn page-scroll" href="#about">+ Info</a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>



      <!-- direction 3 -->

      <div id="slider-direction-3" class="slider-direction slider-two">

        <div class="container">

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="slider-content">

                <!-- layer 1 -->

                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

                  <h2 class="title1">En LatinRed10</h2>

                </div>

                <!-- layer 2 -->

                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">

                  <h1 class="title2">Desarrollamos tu plan de marketing en social media de acuerdo a tus requerimientos</h1>

                </div>

                <!-- layer 3 -->

                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">

                  <a class="ready-btn right-btn page-scroll" href="#services">Nuestros Servicios</a>

                  <a class="ready-btn page-scroll" href="#about">+ Info</a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- End Slider Area -->



  <!-- Start About area -->

  <div id="about" class="about-area area-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline text-center">

            <h2> Quiénes Somos </h2>

          </div>

        </div>

      </div>

      <div class="row">

        <!-- single-well start-->

        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="well-left">

            <div class="single-well">

              <a href="#">

								  <img src="img/about/1.jpg" alt="">

								</a>

            </div>

          </div>

        </div>

        <!-- single-well end-->

        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="well-middle">

            <div class="single-well">

              <a href="#">

                <h4 class="sec-head">LatInRed10</h4>

              </a>

              <p align="justify">

                Somos una empresa latinoamericana que ofrece soluciones creativas e innovadoras a todos aquellos que buscan integrarse en la era digital. Nuestra presencia en varios países nos permite tener un panorama más amplio sobre las necesidades tecnológicas en América Latina, lo cual nos motiva a crear continuamente un espacio de múltiples alternativas que permitan acercar a las personas al manejo de la tecnología digital. 

              </p>

              <ul>

                <li>

                  <i class="fa fa-check"></i> Diseños a Medida

                </li>

                <li>

                  <i class="fa fa-check"></i> Marketing Social

                </li>

                <li>

                  <i class="fa fa-check"></i> Diseño de aplicaciones

                </li>

                <li>

                  <i class="fa fa-check"></i> Diseño gráfico

                </li>

                <li>

                  <i class="fa fa-check"></i> Mantenimiento

                </li>

              </ul>

            </div>

          </div>

        </div>

        <!-- End col-->

      </div>

    </div>

  </div>

  <!-- End About area -->



  <!-- Start Service area -->

  <div id="services" class="services-area area-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline services-head text-center">

            <h2>Nuestros Servicios</h2>

          </div>

        </div>

      </div>

      <div class="row text-center">

        <div class="services-contents">

          <!-- Start Left services -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-code"></i>

										</a>

                  <h4>Desarrollo de Software</h4>

                  <p align="justify">

                    Creamos software a tu medida. Desarrollamos lo que necesitas.

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-camera-retro"></i>

										</a>

                  <h4>Diseño Creativo</h4>

                  <p align="justify">

                    Diseño de sitios e imágenes digitales que expresan lo que quieres transmitir.

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">

            <!-- end col-md-4 -->

            <div class=" about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-wordpress"></i>

										</a>

                  <h4>Creación de contenidos digitales</h4>

                  <p align="justify">

                    Obtén la atención de los demás con contenidos que te distingan en la red.

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">

            <!-- end col-md-4 -->

            <div class=" about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-camera-retro"></i>

										</a>

                  <h4>Social Marketing </h4>

                  <p align="justify">

                    Tu público es el que más importa. Combina el interés de la sociedad, el deseo de los consumidores y el servicio que ofrece tu empresa.

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

          <!-- End Left services -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <!-- end col-md-4 -->

            <div class=" about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-bar-chart"></i>

										</a>

                  <h4>Mantenimiento</h4>

                  <p align="justify">

                    Hoy más que nunca, es importante que todas las empresas pequeñas, medianas o grandes, mantengan toda su infraestructura en perfecto estado. Nosotros nos hacemos cargo.

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

          <!-- End Left services -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <!-- end col-md-4 -->

            <div class=" about-move">

              <div class="services-details">

                <div class="single-services">

                  <a class="services-icon" href="#">

											<i class="fa fa-ticket"></i>

										</a>

                  <h4>24/7 Soporte</h4>

                  <p align="justify">

                    Tenemos soporte permanente. </br> Estamos para ti en el momento que nos necesites. 

                  </p>

                </div>

              </div>

              <!-- end about-details -->

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- End Service area -->



  <!-- our-skill-area start -->

  <div class="our-skill-area fix hidden-sm">

    <div class="test-overly"></div>

    <div class="skill-bg area-padding-2">

      <div class="container">

        <!-- section-heading end -->

        <div class="row">

          <div class="skill-text">

            <!-- single-skill start -->

            <div class="col-xs-12 col-sm-3 col-md-3 text-center">

              <div class="single-skill">

                <div class="progress-circular">

                  <input type="text" class="knob" value="0" data-rel="95" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>

                  <h3 class="progress-h4">Diseño Web</h3>

                </div>

              </div>

            </div>

            <!-- single-skill end -->

            <!-- single-skill start -->

            <div class="col-xs-12 col-sm-3 col-md-3 text-center">

              <div class="single-skill">

                <div class="progress-circular">

                  <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>

                  <h3 class="progress-h4">Diseño Gr&aacute;fico</h3>

                </div>

              </div>

            </div>

            <!-- single-skill end -->

            <!-- single-skill start -->

            <div class="col-xs-12 col-sm-3 col-md-3 text-center">

              <div class="single-skill">

                <div class="progress-circular">

                  <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>

                  <h3 class="progress-h4">Desarrollo Php</h3>

                </div>

              </div>

            </div>

            <!-- single-skill end -->

            <!-- single-skill start -->

            <div class="col-xs-12 col-sm-3 col-md-3 text-center">

              <div class="single-skill">

                <div class="progress-circular">

                  <input type="text" class="knob" value="0" data-rel="65" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>

                  <h3 class="progress-h4">Java Script</h3>

                </div>

              </div>

            </div>

            <!-- single-skill end -->

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- our-skill-area end -->



  <!-- Faq area start -->

  <div class="faq-area area-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline text-center">

            <h2>Preguntas Frecuentes (Faq)</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="faq-details">

            <div class="panel-group" id="accordion">

              <!-- Panel Default -->

              <div class="panel panel-default">

                <div class="panel-heading">

                  <h4 class="check-title">

											<a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">

                                                <span class="acc-icons"></span>¿Cómo Empiezo?								</a>

										</h4>

                </div>

                <div id="check1" class="panel-collapse collapse in">

                  <div class="panel-body">

                    <p align="justify">

                      Para comenzar el proceso, puedes ponerte en contacto por medio telefónico, email, formulario de contacto, para que nos contactemos y te asesoremos durante el proceso.

                    </p>

                  </div>

                </div>

              </div>

              <!-- End Panel Default -->

              <!-- Panel Default -->

              <div class="panel panel-default">

                <div class="panel-heading">

                  <h4 class="check-title">

											<a data-toggle="collapse" data-parent="#accordion" href="#check2">

                                                <span class="acc-icons"></span> ¿Cómo puedo contactarlos o contratarlos si no resido cerca de su oficina?.

											</a>

										</h4>

                </div>

                <div id="check2" class="panel-collapse collapse">

                  <div class="panel-body">

                    <p align="justify">

                     Para contactarnos o contratarnos contamos con un servicio totalmente remoto a través de email, Facebook, telefónicamente, WhatsApp.  

                    </p>

                  </div>

                </div>

              </div>

              <!-- End Panel Default -->

              <!-- Panel Default -->

              <div class="panel panel-default">

                <div class="panel-heading">

                  <h4 class="check-title">

											<a data-toggle="collapse" data-parent="#accordion" href="#check3">

                                                <span class="acc-icons"></span>¿Se puede realizar modificaciones en mi página web una vez finalizado el diseño?

											</a>

										</h4>

                </div>

                <div id="check3" class="panel-collapse collapse ">

                  <div class="panel-body">

                    <p align="justify">

                      Efectivamente, una vez publicado el sitio puedes realizar las modificaciones que creas pertinentes. Si deseas, puedes solicitar que dichas modificaciones o retoques lo realicemos nosotros.

                    </p>

                  </div>

                </div>

              </div>

              <!-- End Panel Default -->

              <!-- Panel Default -->

              <div class="panel panel-default">

                <div class="panel-heading">

                  <h4 class="check-title">

											<a data-toggle="collapse" data-parent="#accordion" href="#check4">

                                                <span class="acc-icons"></span>¿Hay Pagos Mensuales?

											</a>

										</h4>

                </div>

                <div id="check4" class="panel-collapse collapse">

                  <div class="panel-body">

                    <p align="justify">

                      Al contratar nuestros servicios puede realizar pagos mensuales. El valor del mismo dependerá del servicio solicitado.

                    </p>

                  </div>

                </div>

              </div>

              <!-- End Panel Default -->

            </div>

          </div>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="tab-menu">

            <!-- Nav tabs -->

            <ul class="nav nav-tabs" role="tablist">

              <li class="active">

                <a href="#p-view-1" role="tab" data-toggle="tab">Proyectos</a>

              </li>

              <li>

                <a href="#p-view-2" role="tab" data-toggle="tab">Planificación</a>

              </li>

              <li>

                <a href="#p-view-3" role="tab" data-toggle="tab">Asesoramiento</a>

              </li>

            </ul>

          </div>

          <div class="tab-content">

            <div class="tab-pane active" id="p-view-1">

              <div class="tab-inner">

                <div class="event-content head-team">

                  <h4>Proyectos</h4>

                  <p align="justify">

                    LatinRed10 cuenta con un equipo de trabajo de expertos, que trabajan desde el comienzo de los proyectos de nuestros clientes.                 </p>

                  <p>

              

                  </p>

                </div>

              </div>

            </div>

            <div class="tab-pane" id="p-view-2">

              <div class="tab-inner">

                <div class="event-content head-team">

                  <h4>Planificación</h4>

                  <p align="justify">

                    Una vez adquirido los servicios de LatinRed10, realizamos una planificación paso a paso del proyecto atendiendo los requerimientos específicos de nuestros clientes.
                  </p>

                  <p>

                    </p>

                </div>

              </div>

            </div>

            <div class="tab-pane" id="p-view-3">

              <div class="tab-inner">

                <div class="event-content head-team">

                  <h4>Asesoramiento</h4>

                  <p align="justify">

                    Nuestros clientes cuentan con asesoramiento de los expertos que componen nuestro equipo multidisciplinario, desde el momento en que el cliente se pone en contacto y adquiere nuestros servicios.

                  </p>

                  <p>

                    

                  </p>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <!-- end Row -->

    </div>

  </div>

  <!-- End Faq Area -->



  <!-- Start Wellcome Area -->

  <div class="wellcome-area">

    <div class="well-bg">

      <div class="test-overly"></div>

      <div class="container">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12" id="subscriber">

            <div class="wellcome-text">

              <div class="well-text text-center">

                <h2>Bienvenidos a LatinRed10</h2>

                <p>

                  Subscribase y reciba noticias de interes, ofertas

                </p>

                <div class="subs-feilds">

                  <div class="suscribe-input">

                 

                    <input type="email"  v-model="email_subscriber" class="email form-control width-80" id="sus_email" placeholder="Email">

                    <button type="submit" id="sus_submit" @click.prevent="add2Newslatter()"  class="add-btn width-20">Subscribe</button>

                    

                    <div id="msg_Submit" class="h3 text-center hidden"></div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- End Wellcome Area -->



  <!-- Start team Area -->

  <div id="team" class="our-team-area area-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline text-center">

            <h2>Nuestro equipo</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="team-top">

          <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="single-team-member">

              <div class="team-img">

                <!--<a href="#"></a>-->

										<img src="img/team/YoLuisFax.jpg" alt="">

									

              <!--  <div class="team-social-icon text-center">

                  <ul>

                    <li>

                      <a href="#">

													<i class="fa fa-facebook"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-twitter"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-instagram"></i>

												</a>

                    </li>

                  </ul>

                </div>-->

              </div>

              <div class="team-content text-center">

                <h4>Luis Fax</h4>

               <!-- <p>Seo</p>-->

              </div>

            </div>

          </div>

          <!-- End column -->

          <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="single-team-member">

              <div class="team-img">

                <!--<a href="#"></a>-->

										<img src="img/team/Fernando.jpg" alt="">

									

                <!--<div class="team-social-icon text-center">

                  <ul>

                    <li>

                      <a href="#">

													<i class="fa fa-facebook"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-twitter"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-instagram"></i>

												</a>

                    </li>

                  </ul>

                </div>-->

              </div>

              <div class="team-content text-center">

                <h4>Fernando Méndez</h4>

                <!--<p>Web Developer</p>-->

              </div>

            </div>

          </div>

          <!-- End column -->

          <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="single-team-member">

              <div class="team-img">

                <!--<a href="#"></a>-->

										<img src="img/team/alexis.jpg" alt="">

									

               <!-- <div class="team-social-icon text-center">

                  <ul>

                    <li>

                      <a href="#">

													<i class="fa fa-facebook"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-twitter"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-instagram"></i>

												</a>

                    </li>

                  </ul>

                </div>-->

              </div>

              <div class="team-content text-center">

                <h4>Alexis García

</h4>

                <!--<p>Web Design</p>-->

              </div>

            </div>

          </div>

          <!-- End column -->

          <div class="col-md-3 col-sm-3 col-xs-12">

            <div class="single-team-member">

              <div class="team-img">

               <!-- <a href="#"></a>-->

										<img src="img/team/raul.jpg" alt="">

									

                <!--<div class="team-social-icon text-center">

                  <ul>

                    <li>

                      <a href="#">

													<i class="fa fa-facebook"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-twitter"></i>

												</a>

                    </li>

                    <li>

                      <a href="#">

													<i class="fa fa-instagram"></i>

												</a>

                    </li>

                  </ul>

                </div>-->

              </div>

              <div class="team-content text-center">

                <h4>Raúl Parra Hernández</h4>

                <!--<p>Seo Expert</p>-->

              </div>

            </div>

          </div>

          <!-- End column -->

        </div>

      </div>

    </div>

  </div>

  <!-- End Team Area -->



  <!-- Start reviews Area -->

  <div class="reviews-area hidden-xs">

    <div class="work-us">

      <div class="work-left-text">

        <a href="#">

						<img src="img/about/trabajaconosotros.jpg" alt="">

					</a>

      </div>

      <div class="work-right-text text-center">

        <h2>Trabaja con nosotros</h2>

        <h5>Creemos que el talento está en todas partes. Seguramente tenemos un lugar para ti.</h5>

        <a href="#contact" class="ready-btn">Contáctanos</a>

      </div>

    </div>

  </div>

  <!-- End reviews Area -->



  <!-- Start portfolio Area -->

  <div id="portfolio" class="portfolio-area area-padding fix">

    <div class="container">

      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline text-center">

            <h2>Nuestro Portafolio</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <!-- Start Portfolio -page -->

        <div class="awesome-project-1 fix">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="awesome-menu ">

              <ul class="project-menu">

                <li>

                  <a href="#" class="active" data-filter="*">Todos</a>

                </li>

                <li>

                  <a href="#" data-filter=".development">Desarrollo</a>

                </li>

                <li>

                  <a href="#" data-filter=".design">Diseño</a>

                </li>

                <li>

                  <a href="#" data-filter=".photo">Diseño Gr&aacute;fico</a>

                </li>

              </ul>

            </div>

          </div>

        </div>

        <div class="awesome-project-content">

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 design development">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/1.jpg" alt="" /></a>

                <div class="add-actions text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/1.jpg">

                      <h4>Business City</h4>

                      <span>Web Development</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 photo">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/2.jpg" alt="" /></a>

                <div class="add-actions text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/2.jpg">

                      <h4>Blue Sea</h4>

                      <span>Photoshop</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 design">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/3.jpg" alt="" /></a>

                <div class="add-actions text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/3.jpg">

                      <h4>Beautiful Nature</h4>

                      <span>Web Design</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 photo development">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/4.jpg" alt="" /></a>

                <div class="add-actions text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/4.jpg">

                      <h4>Creative Team</h4>

                      <span>Web design</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 development">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/5.jpg" alt="" /></a>

                <div class="add-actions text-center text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/5.jpg">

                      <h4>Beautiful Flower</h4>

                      <span>Web Development</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

          <!-- single-awesome-project start -->

          <div class="col-md-4 col-sm-4 col-xs-12 design photo">

            <div class="single-awesome-project">

              <div class="awesome-img">

                <a href="#"><img src="img/portfolio/6.jpg" alt="" /></a>

                <div class="add-actions text-center">

                  <div class="project-dec">

                    <a class="venobox" data-gall="myGallery" href="img/portfolio/6.jpg">

                      <h4>Night Hill</h4>

                      <span>Photoshop</span>

                    </a>

                  </div>

                </div>

              </div>

            </div>

          </div>

          <!-- single-awesome-project end -->

        </div>

      </div>

    </div>

  </div>

  <!-- awesome-portfolio end -->

  <!-- start pricing area -->

  <div id="pricing" class="pricing-area area-padding">

    <div class="container">

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">

          <div class="section-headline text-center">

            <h2>Opciones Web</h2>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class="pri_table_list">

            <h3>Página web estática <br/> <span>$80 / Més</span></h3>

            <ol>

              <li class="check">Online system</li>

              <li class="check cross">Full access</li>

              <li class="check">Free apps</li>

              <li class="check">Multiple slider</li>

              <li class="check cross">Free domin</li>

              <li class="check cross">Support unlimited</li>

              <li class="check">Payment online</li>

              <li class="check cross">Cash back</li>

            </ol>

            <a href="#contact"><button>Solicitar</button></a>

          </div>

        </div>

        

        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class="pri_table_list active">

            <span class="saleon">Página</span>

            <h3>Web dinámica <br/> <span>$110 / Més</span></h3>

            <ol>

              <li class="check">Online system</li>

              <li class="check">Full access</li>

              <li class="check">Free apps</li>

              <li class="check">Multiple slider</li>

              <li class="check cross">Free domin</li>

              <li class="check">Support unlimited</li>

              <li class="check">Payment online</li>

              <li class="check cross">Cash back</li>

            </ol>

            <a href="#contact"><button>Solicitar</button></a>

          </div>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">

          <div class="pri_table_list">

            <h3>Tienda en línea <br/> <span>$150 / Més</span></h3>

            <ol>

              <li class="check">Online system</li>

              <li class="check">Full access</li>

              <li class="check">Free apps</li>

              <li class="check">Multiple slider</li>

              <li class="check">Free domin</li>

              <li class="check">Support unlimited</li>

              <li class="check">Payment online</li>

              <li class="check">Cash back</li>

            </ol>

            <a href="#contact"><button>Solicitar</button></a>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- End pricing table area -->

  <!-- Start Testimonials -->

  <div class="testimonials-area">

    <div class="testi-inner area-padding">

      <div class="testi-overly"></div>

      <div class="container ">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">

            <!-- Start testimonials Start -->

            <div class="testimonial-content text-center">

              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>

              <!-- start testimonial carousel -->

              <div class="testimonial-carousel">

                <div class="single-testi">

                  <div class="testi-text">

                    <p>

                      Gracias a LatinRed10 he tenido el sitio de mi empresa en poco tiempo. Es una empresa seria y honesta que cumple con lo pactado.

                    </p>

                    <h6>Fernando</h6>

                  </div>

                </div>

                <!-- End single item -->

                <div class="single-testi">

                  <div class="testi-text">

                    <p>

                      Gracias LatinRed10 por haber realizado tan excelente trabajo en el desarrollo de mi sitio web.<br>Altamente Recomendados.

                    </p>

                    <h6>Raquel</h6>

                  </div>

                </div>

                <!-- End single item -->

                <!--<div class="single-testi">

                  <div class="testi-text">

                    <p>

                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar luctus est eget congue.<br>consectetur adipiscing elit. Sed pulvinar luctus est eget congue.

                    </p>

                    <h6>Fleming</h6>

                  </div>

                </div>-->

                <!-- End single item -->

              </div>

            </div>

            <!-- End testimonials end -->

          </div>

          <!-- End Right Feature -->

        </div>

      </div>

    </div>

  </div>

  <!-- End Testimonials -->

  <!-- Start Blog Area -->

  <div id="blog" class="blog-area">

    <div class="blog-inner area-padding">

      <div class="blog-overly"></div>

      <div class="container ">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="section-headline text-center">

              <h2>Noticias de interés</h2>

            </div>

          </div>

        </div>

        <div class="row">

          <!-- Start Left Blog -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="single-blog">

              <div class="single-blog-img">

                <a href="blog.html">

										<img src="img/blog/1.jpg" alt="">

									</a>

              </div>

              <div class="blog-meta">

                <!--<span class="comments-type">

										<i class="fa fa-comment-o"></i>

										<a href="#">13 comments</a>

									</span>

                <span class="date-type">

										<i class="fa fa-calendar"></i>2016-03-05 / 09:10:16

									</span>-->

              </div>

              <div class="blog-text">

                <h4>

                                        <a href="blog.html">El e-commerce en México en fase de transformaci&oacute;n</a>

									</h4>

                <p align="justify">

                  "Se estima que la compra-venta de bienes y servicios a través de medios electrónicos en México generará ingresos por $96,305.0 millones de pesos durante el segundo trimestre de 2018, lo que representa un crecimiento anual de 11.2%, derivado en la oferta y contratación de nuevos servicios digitales y un aumento en la frecuencia de compra en la mayoría de los bienes adquiridos. Con esto, se estima que los ingresos del mercado de comercio electrónico alcancen $421,310 millones de pesos durante 2018"

                </p>

              </div>

              <span>

									<a href="blog.html" class="ready-btn">LEER M&Aacute;s</a>

								</span>

            </div>

            <!-- Start single blog -->

          </div>

          <!-- End Left Blog-->

          <!-- Start Left Blog -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="single-blog">

              <div class="single-blog-img">

                <a href="blog.html">

										<img src="img/blog/2.jpg" alt="">

									</a>

              </div>

              <div class="blog-meta">

               <!-- <span class="comments-type">

										<i class="fa fa-comment-o"></i>

										<a href="#">130 comments</a>

									</span>

                <span class="date-type">

										<i class="fa fa-calendar"></i>2016-03-05 / 09:10:16

									</span>-->

              </div>

              <div class="blog-text">

                <h4>

                                        <a href="blog.html">Social Media </a>

									</h4>

                <p align="justify">

                  En la actualidad, las nuevas tecnologias que van surgiendo hace que las empresas adapten la manera de realizar marketing para captar nuevos clientes a travez de marketing dentro de las Redes Sociales m&aacute;s conocido como Social Media.

                  Adem&aacute;s la social media permite a las empresas interactuar con el publico cliente, lo que permite saber cuales son las necesidades, como así tambien que productos o servicios los potenciales clientes buscan.

                  

                </p>

              </div>

              <span>

									<a href="blog.html" class="ready-btn">Leer M&Aacute;s</a>

								</span>

            </div>

            <!-- Start single blog -->

          </div>

          <!-- End Left Blog-->

          <!-- Start Right Blog-->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="single-blog">

              <div class="single-blog-img">

                <a href="blog.html">

										<img src="img/blog/3.jpg" alt="">

									</a>

              </div>

              <div class="blog-meta">

                <!--<span class="comments-type">

										<i class="fa fa-comment-o"></i>

										<a href="#">10 comments</a>

									</span>

                <span class="date-type">

										<i class="fa fa-calendar"></i>2016-03-05 / 09:10:16

									</span>-->

              </div>

              <div class="blog-text">

                <h4>

                                        <a href="blog.html">¿Por qué deberías tener una página web si tienes un negocio?</a>

									</h4>

                <p align="justify">

                  En los últimos años el uso de la web ha sido el principal medio por el cual la gente busca cosas de su interés ya sea para comprar un producto o para contratar un servicio en LatInRed te garantizamos que podrás encontrarte en el buscador más usado a nivel mundial Google.
                  
                  En la actualidad la supervivencia y el éxito de los negocios dependen en gran parte de las tecnologías que utilizan y a su presencia en el universo web.


                </p>

              </div>

              <span>

									<a href="blog.html" class="ready-btn">Leer M&Aacute;s</a>

								</span>

            </div>

          </div>

          <!-- End Right Blog-->

        </div>

      </div>

    </div>

  </div>

  <!-- End Blog -->

  <!-- Start Suscrive Area -->

  <div class="suscribe-area">

    <div class="container">

      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">

          <div class="suscribe-text text-center">

            <h3>Bienvenido a LatInRed10, es un placer atenderte.</h3>

            <a class="sus-btn" href="#">Cotizar</a>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- End Suscrive Area -->

  <!-- Start contact Area -->

  <div id="contact" class="contact-area">

    <div class="contact-inner area-padding">

      <div class="contact-overly"></div>

      <div class="container ">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="section-headline text-center">

              <h2>Contacto</h2>

            </div>

          </div>

        </div>

        <div class="row">

          <!-- Start contact icon column -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="contact-icon text-center">

              <div class="single-icon">

                <i class="fa fa-mobile"></i>

                <p>

                  Cel: +1 5589 55488 55<br>

                  <!--<span>Lunes-Viernes (9am-5pm)</span>-->

                </p>

              </div>

            </div>

          </div>

          <!-- Start contact icon column -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="contact-icon text-center">

              <div class="single-icon">

                <i class="fa fa-envelope-o"></i>

                <p>

                  Email: info@latinred10.com<br>

                  <span>Web: www.latinred10.com</span>

                </p>

              </div>

            </div>

          </div>

          <!-- Start contact icon column -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="contact-icon text-center">

              <div class="single-icon">

                <i class="fa fa-map-marker"></i>

                <p>

                  Ubicaci&oacute;n: A108 Adam Street<br>

                  <span>NY 535022, MX</span>

                </p>

              </div>

            </div>

          </div>

        </div>

        <div class="row">



          <!-- Start Google Map -->

          <div class="col-md-6 col-sm-6 col-xs-12">

            <!-- Start Map -->

            <!-- Uncomment below if you wan to use dynamic maps -->

            <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704">

           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1929729.708608204!2d-103.0218744857547!3d19.151331212165605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842a5f3e1eb35cb7%3A0x3bc7650cf34be0d4!2zTWljaG9hY8OhbiwgTcOpeGljbw!5e0!3m2!1ses!2sar!4v1539813343405" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>

            <!-- End Map -->

          </div>

          <!-- End Google Map -->



          <!-- Start  contact -->

         <div class="col-md-6 col-sm-6 col-xs-12" id="app">

            <div class="form contact-form" >

              <div id="sendmessage">Su Mensaje ha sido enviado. Gracias!</div>

              <div id="errormessage"></div>

              <form action="" method="post" v-on:submit.prevent class="contactForm">

                <div class="form-group">

                  <input type="text" v-model="name" class="form-control" placeholder="Nombre Completo" data-rule="minlen:4" data-msg="Ingrese su nombre completo" />

                  <div class="validation"></div>

                </div>

                <div class="form-group">

                  <input type="email" class="form-control" v-model="email" placeholder="Email" data-rule="email" data-msg="Ingrese un Email valido" />

                  <div class="validation"></div>

                </div>

                <div class="form-group">

                  <input type="text" class="form-control" v-model="subject"  placeholder="Asunto" data-rule="minlen:4" data-msg="Ingrese 8 caracteres minimo" />

                  <div class="validation"></div>

                </div>

                <div class="form-group">

                  <textarea class="form-control" v-model="message" rows="5" data-rule="required" data-msg="Ingrese su consulta" placeholder="Ingrese su Consulta"></textarea>

                  <div class="validation"></div>

                </div>

                <div class="text-center">

                  <button type="submit" @click.prevent="sendMessage()">Enviar</button>

                </div>

              </form>

            </div>

          </div>

          <!-- End Left contact -->

        </div>

      </div>

    </div>

  </div>

  <!-- End Contact Area -->



  <!-- Start Footer bottom Area -->

  <footer>

    <div class="footer-area">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="footer-content">

              <div class="footer-head">

                <div class="footer-logo">

                  <h2><span>L</span>at<span style="color: #01DFD7">I</span>n<span style="color: #FE2E64">R</span>ed10</h2>

                </div>



                <p align="justify">Somos una empresa latinoamericana que ofrece soluciones creativas e innovadoras a todos aquellos que buscan integrarse en la era digital.</p>

                <div class="footer-icons">

                  <ul>

                    <li>

                      <a href="https://www.facebook.com/latinred10/"><i class="fa fa-facebook"></i></a>

                    </li>

                    <li>

                      <a href="#"><i class="fa fa-twitter"></i></a>

                    </li>

                    <li>

                      <a href="#"><i class="fa fa-google"></i></a>

                    </li>

                    <li>

                      <a href="#"><i class="fa fa-pinterest"></i></a>

                    </li>

                  </ul>

                </div>

              </div>

            </div>

          </div>

          <!-- end single footer -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="footer-content">

              <div class="footer-head">

                <h4>Informaci&Oacute;n</h4>

                <p>

                  Para m&aacute;s Informaci&oacute;n puede contactarse por medio de:

                </p>

                <div class="footer-contacts">

                  <p><span>Tel:</span> +123 456 789</p>

                  <p><span>Email:</span> contacto@latinred10.com</p>

                  <p><span>Horarios:</span> 9am-5pm</p>

                </div>

              </div>

            </div>

          </div>

          <!-- end single footer -->

          <div class="col-md-4 col-sm-4 col-xs-12">

            <div class="footer-content">

              <div class="footer-head">

                <h4>Instagram</h4>

                <div class="flicker-img">

                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>

                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>

                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>

                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>

                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>

                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="footer-area-bottom">

      <div class="container">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="copyright text-center">

              <p>

                &copy; Copyright <strong>LatinRed10</strong>. Todos los derechos Reservados

              </p>

            </div>

            <div class="credits">

              <!--

                All the links in the footer should remain intact.

                You can delete the links only if you purchased the pro version.

                Licensing information: https://bootstrapmade.com/license/

                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness

              -->

              Diseñado por LatinRed10

            </div>

          </div>

        </div>

      </div>

    </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



  <!-- JavaScript Libraries -->

  <script src="lib/jquery/jquery.min.js"></script>

  <script src="lib/bootstrap/js/bootstrap.min.js"></script>

  <script src="lib/owlcarousel/owl.carousel.min.js"></script>

  <script src="lib/venobox/venobox.min.js"></script>

  <script src="lib/knob/jquery.knob.js"></script>

  <script src="lib/wow/wow.min.js"></script>

  <script src="lib/parallax/parallax.js"></script>

  <script src="lib/easing/easing.min.js"></script>

  <script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>

  <script src="lib/appear/jquery.appear.js"></script>

  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Uncomment below if you want to use dynamic Google Maps -->

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script> -->



  <!-- Contact Form JavaScript File -->

  <script src="js/main.js"></script>

 <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> <!-- CAMBIE ESTA LINEA -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

  <script src="js/contactVue.js"></script>

<script src="js/subscriberVue.js"></script>

</body>



</html>

